<section class="section next-section" id="s3">
    
    <!-- todo: create a sign up page -->
    <form id="signup-form" method="POST" action="/register""   >
        
          <div class="field-wrap">
            <label class="form-label2"  for="name">
              Name <span class="req">*</span>
            </label>
            <input class="cardinput" id="name" name="name"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label class="form-label2" for="email" >
              Email Address<span class="req">*</span>
            </label>
            <input class="cardinput" id="email" type="email" name="email"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label class="form-label2" for="password">
              Set A Password<span class="req">*</span>
            </label>
            <input class="cardinput" id="password" name="password" type="password" required autocomplete="off"/>
          </div>
        <button id="card-signup" >Sign up</button>
    </form>
    </div>
</section>